body{
  background-img: turtle;
}
h1{
  background-color: turquoise;
}
h2{
  background-color: orange;
}
p{
  background-color:lightblue
}
ul{
  background-color:lightblue
}
body{
  background-image: url("https://cdn6.bigcommerce.com/s-9sf3i6p/product_images/uploaded_images/galaxy.jpg?t=1457808323");
  background-repeat: no-repeat;
  background-size: cover;
}
